<h3 id="form-title"></h3>
<input type="hidden" id="submit-via-api" name="submitViaAPI" value="true" />
<div class="form-control">
  <label for="subject">Subject</label>
  <input type="text" id="subject" name="subject" placeholder="Subject" />
  <i class="fa fa-check-circle"></i>
  <i class="fa fa-exclamation-circle"></i>
  <small>Error message</small>
</div>
<div class="form-control">
  <label for="body">Message</label>
  <textarea name="body" id="body" placeholder="Message to DC Here"></textarea>
  <i class="fa fa-check-circle"></i>
  <i class="fa fa-exclamation-circle"></i>
  <small>Error message</small>
</div>
<button type="submit">Submit</button>
